*{
padding: 0px;
margin: 0px;
box-sizing: border-box;


}

body
{
    font-family: 'Open Sans', sans-serif;
}
header
{
    height: 100px;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}


ul{
display: flex;
list-style: none;

}

ul li a{
    padding: 0px 20px;
    color: #3a3a3a;
    display: inline-block;
}

li a ::after{
    content: '';
    display: block;
    height: 4px;
    width: 0px;
    background-color: #c4c4f7;
    transition: all .5s

}

main{
    display: flex;
    border: solid 1px black;
    height:calc(100vh-100px);
    align-items: center;
    justify-content: center;
}

.suits-image
{
    max-width: 550px;
    height: auto;
}
.content-left
{
    width: 30%;
}

main h1
{
    font-size: 54px;
    color: #13384F;
    text-transform: uppercase;
}

main h2 
{
    font-size: 25px;
    color: #5ca70c;
    font-weight: 400px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
main p{
    font-size: 14px;
    font-weight: 400px;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0px;


}